-r requirements.txt
# Testing
pytest==8.2.2
pytest-cov==5.0.0
hypothesis==6.103.2
# Typing
mypy==1.10.0
types-PyYAML==6.0.12.20240311
types-requests==2.32.0.20240521
# Linting / formatting
ruff==0.4.8
black==24.4.2
pre-commit==3.7.1
# Notebooks
jupyter==1.0.0
nbformat==5.10.4
